Repository cowprotocol/docs, pull requests merged in 2023-12, with the labels that each got.

#194 fix: lazy-load version
  package.json
  yarn.lock
Labels: E:2.1: Documentation and Tutorials

#196 feat: docusaurus 3
  docs/cow-protocol/tutorials/cow-swap/swap.mdx
  docs/cow-protocol/tutorials/cow-swap/twap.mdx
  docusaurus.config.ts
  package.json
  sidebars.ts
  tsconfig.json
  yarn.lock
Labels: E:2.1: Documentation and Tutorials

#204 chore: remove duplicate tutorials
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/bonus-show-link-to-explorer.md
  docs/cow-protocol/tutorials/integrations/scripts/sign-and-post-orders/README.md
  docs/cow-protocol/tutorials/integrations/scripts/sign-and-post-orders/enable-tokens.md
  docs/cow-protocol/tutorials/integrations/scripts/sign-and-post-orders/step-1-get-market-price.md
  docs/cow-protocol/tutorials/integrations/scripts/sign-and-post-orders/step-2-sign-the-order.md
  docs/cow-protocol/tutorials/integrations/scripts/sign-and-post-orders/step-3-post-the-signed-order-to-the-api.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/README.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/general-overview.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/submitting-the-limit-order/1.-setting-allowance-for-the-sell-token.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/submitting-the-limit-order/2.-signing-the-limit-order.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/submitting-the-limit-order/3.-placing-the-limit-order.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/submitting-the-limit-order/4.-checking-limit-order-status.md
  docs/cow-protocol/tutorials/integrations/scripts/submit-limit-orders-via-api/submitting-the-limit-order/README.md
Labels: documentation, E:2.1: Documentation and Tutorials

#161 chore: link references for hooks
  docs/cow-protocol/reference/contracts/periphery/hooks_trampoline.md
  docs/cow-protocol/reference/core/auctions/social_consensus.md
  docs/cow-protocol/reference/core/intents/app_data.mdx
  docs/cow-protocol/tutorials/integrations/programmatic/liquidation.mdx
  docs/cow-protocol/tutorials/integrations/programmatic/yield_farming.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:contracts

#73 chore: mention hooks as "builder friendly"
  docs/cow-protocol/concepts/product-features/builder-friendly/README.md
  docs/cow-protocol/concepts/product-features/cow-hooks.mdx
Labels: documentation, E:2.1: Documentation and Tutorials, team:contracts

#200 feat: driver doc
  docs/cow-protocol/reference/apis/driver.mdx
  docs/cow-protocol/reference/apis/orderbook.mdx
  docs/cow-protocol/reference/apis/solver.mdx
  docs/cow-protocol/tutorials/arbitrate/driver.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:backend

#148 chore: transform "social consensus rules" page to "rules of the competition page"
  docs/cow-protocol/reference/core/auctions/competition_rules.md
  docs/cow-protocol/reference/core/auctions/social_consensus.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:solvers

#230 fix: cancellation jargon
  docs/partials/_cancellation_offchain_versus_onchain.mdx
Labels: documentation, E:2.1: Documentation and Tutorials

#229 docs: known contract issues
  docs/cow-protocol/reference/contracts/core/README.mdx
Labels: documentation, E:2.1: Documentation and Tutorials, team:contracts

#233 Tutorial(?): How to move from shadow to prod
  docs/cow-protocol/tutorials/solvers/from_shadow_to_prod.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:solvers

#234 arbitrate/orderbook documentation
  docs/cow-protocol/tutorials/arbitrate/README.mdx
  docs/cow-protocol/tutorials/arbitrate/autopilot.md
  docs/cow-protocol/tutorials/arbitrate/driver.md
  docs/cow-protocol/tutorials/arbitrate/orderbook.md
  docs/cow-protocol/tutorials/arbitrate/solver-engine.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:backend

#244 chore: polish / unify arbitrate
  docs/cow-protocol/tutorials/arbitrate/README.mdx
  docs/cow-protocol/tutorials/arbitrate/autopilot.md
  docs/cow-protocol/tutorials/arbitrate/orderbook.md
  docs/cow-protocol/tutorials/arbitrate/solver/driver.md
  docs/cow-protocol/tutorials/arbitrate/solver/solver-engine.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:backend

#246 chore: new liquidity
  docs/cow-protocol/reference/core/tokens.md
Labels: documentation, E:2.1: Documentation and Tutorials

#242 chore: twap editorial
  docs/cow-protocol/tutorials/cow-swap/twap.mdx
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#249 chore: `safe` bundling with eth-flow
  docs/cow-protocol/tutorials/cow-swap/native.mdx
  static/img/cowswap/native_safe-bundle_1.png
  static/img/cowswap/native_safe-bundle_2.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#240 chore: `safe` bundling approval
  .gitignore
  docs/cow-protocol/tutorials/cow-swap/native.mdx
  docs/cow-protocol/tutorials/cow-swap/swap.mdx
  static/img/cowswap/native_safe-bundle_1.png
  static/img/cowswap/native_safe-bundle_2.png
  static/img/cowswap/swap_gas-free_approval.png
  static/img/cowswap/swap_safe_approval_bundle_1.png
  static/img/cowswap/swap_safe_approval_bundle_2.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#252 chore: annotate twap tutorial imgs
  docs/cow-protocol/tutorials/cow-swap/twap.mdx
  static/img/cowswap/TWAP_cancelOrder.png
  static/img/cowswap/TWAP_connect.png
  static/img/cowswap/TWAP_orderHistory.png
  static/img/cowswap/TWAP_orderMenu.png
  static/img/cowswap/TWAP_orderReceipt.png
  static/img/cowswap/TWAP_orderSigning.png
  static/img/cowswap/TWAP_orderSubmitted.png
  static/img/cowswap/TWAP_ordersOverview.png
  static/img/cowswap/TWAP_params.png
  static/img/cowswap/TWAP_partMenu.png
  static/img/cowswap/TWAP_selectToken.png
  static/img/cowswap/TWAP_unsupported.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#251 chore: cow explorer visualization
  docs/cow-protocol/tutorials/cow-explorer/batch_auction.md
  static/img/explorer/address_overview.png
  static/img/explorer/batch_graph.png
  static/img/explorer/batch_graph_selector.png
  static/img/explorer/batch_graph_trade-based.png
  static/img/explorer/batch_graph_transfer-based.png
  static/img/explorer/batch_orders.png
  static/img/explorer/order_overview.png
  static/img/explorer/order_partial_fills.png
  static/img/explorer/order_partial_overview.png
  static/img/explorer/overview.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#245 chore: cow explorer improvements
  docs/cow-protocol/tutorials/cow-explorer/README.mdx
  docs/cow-protocol/tutorials/cow-explorer/address.md
  docs/cow-protocol/tutorials/cow-explorer/batch_auction.md
  docs/cow-protocol/tutorials/cow-explorer/order.md
  docs/cow-protocol/tutorials/cow-explorer/view/_category_.json
  docs/cow-protocol/tutorials/cow-explorer/view/batch_auction.md
  docs/cow-protocol/tutorials/cow-explorer/view/user.md
  static/img/explorer/address_overview.png
  static/img/explorer/batch_graph.png
  static/img/explorer/batch_graph_selector.png
  static/img/explorer/batch_graph_trade-based.png
  static/img/explorer/batch_graph_transfer-based.png
  static/img/explorer/batch_orders.png
  static/img/explorer/order_overview.png
  static/img/explorer/order_partial_fills.png
  static/img/explorer/order_partial_overview.png
  static/img/explorer/overview.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#243 chore: add chain-specific clarifications
  docs/cow-protocol/reference/core/auctions/competition_rules.md
  docs/cow-protocol/reference/core/auctions/rewards.md
  docs/cow-protocol/reference/core/auctions/slippage.md
Labels: documentation, E:2.1: Documentation and Tutorials, team:solvers

#254 feat: split cancel into specific order types
  docs/cow-protocol/tutorials/cow-swap/cancel.mdx
  docs/cow-protocol/tutorials/cow-swap/limit.mdx
  docs/cow-protocol/tutorials/cow-swap/native.mdx
  docs/cow-protocol/tutorials/cow-swap/swap.mdx
  docs/partials/_cancellation_not_guaranteed.mdx
  docs/partials/_cancellation_offchain_versus_onchain.mdx
  docs/partials/_receiver.mdx
  static/img/cowswap/cancel_offchain.png
  static/img/cowswap/cancel_onchain.png
  static/img/cowswap/cancel_onchain_raw.png
  static/img/cowswap/cancel_onchain_signing.png
  static/img/cowswap/cancel_order.png
  static/img/cowswap/cancel_pending.png
  static/img/cowswap/cancel_pending_raw.png
  static/img/cowswap/native_pending-order.png
  static/img/cowswap/swap_account.png
  static/img/cowswap/swap_activity-modal.png
  static/img/cowswap/swap_cancel-pending-order.png
  static/img/cowswap/swap_connect1.png
  static/img/cowswap/swap_off-chain-cancellation.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#260 chore: initial concepts editorial review
  docs/README.md
  docs/cow-protocol/README.mdx
  docs/cow-protocol/concepts/benefits/additional-benefits.md
  docs/cow-protocol/concepts/benefits/mev-protection.md
  docs/cow-protocol/concepts/benefits/price-improvement.md
  docs/cow-protocol/concepts/benefits/trade-any-intent.md
  docs/cow-protocol/concepts/how-it-works/coincidence-of-wants.md
  docs/cow-protocol/concepts/how-it-works/flow-of-an-order.md
  docs/cow-protocol/concepts/how-it-works/protocol-vs-swap.md
  docs/cow-protocol/concepts/introduction/batch-auctions.md
  docs/cow-protocol/concepts/introduction/intents-to-trade.md
  docs/cow-protocol/concepts/introduction/intents.md
  docs/cow-protocol/concepts/introduction/solvers.md
  docs/cow-protocol/concepts/legacy/batch-auctions/better-execution-prices.md
  docs/cow-protocol/concepts/legacy/batch-auctions/how-batch-auctions-work.md
  docs/cow-protocol/concepts/legacy/batch-auctions/uniform-clearing-prices.md
  docs/cow-protocol/concepts/legacy/batch-auctions/why-batch-auctions.md
  docs/cow-protocol/concepts/legacy/builder-friendly/README.md
  docs/cow-protocol/concepts/legacy/builder-friendly/composable-cow.md
  docs/cow-protocol/concepts/legacy/overview/cowprotocol.md
  docs/cow-protocol/concepts/legacy/overview/introduction.md
  docs/cow-protocol/concepts/legacy/overview/road-to-decentralization.md
  docs/cow-protocol/concepts/order-types/cow-hooks.mdx
  docs/cow-protocol/concepts/order-types/limit-orders.md
  docs/cow-protocol/concepts/order-types/market-orders.md
  docs/cow-protocol/concepts/order-types/milkman-orders.md
  docs/cow-protocol/concepts/order-types/programmatic-orders.md
  docs/cow-protocol/concepts/order-types/twap-orders.md
  docs/cow-protocol/reference/core/auctions/schema.md
  docs/cow-protocol/tutorials/cow-swap/twap.mdx
  docs/cow-protocol/tutorials/integrations/README.mdx
  docs/cow-protocol/tutorials/integrations/hooks/README.md
  docs/cow-protocol/tutorials/integrations/hooks/permit-and-bridge.md
  docs/cow-protocol/tutorials/integrations/scripts/README.md
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/1.-set-allowance-for-the-sell-token.md
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/2.-query-the-fee-endpoint.md
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/4.-signing-the-order.md
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/6.-checking-order-status.md
  docs/cow-protocol/tutorials/integrations/scripts/how-to-submit-orders-via-the-api/README.md
  docs/cow-protocol/tutorials/solvers/create.md
  docs/cow-protocol/tutorials/solvers/test.md
  docs/governance/README.md
  docs/governance/mission.md
  docs/governance/process/template.md
  docs/governance/snapshot.md
  docs/governance/token.md
  docs/tutorials/cowswap-trades-with-a-gnosis-safe-wallet/conclusion.md
  docs/tutorials/cowswap-trades-with-a-gnosis-safe-wallet/creating-the-order.md
  static/img/concepts/twap-screenshot.png
Labels: documentation, E:2.1: Documentation and Tutorials
