Repository cowprotocol/docs, pull requests merged in 2024-01, with the labels that each got.

#261 fix: links
  docs/README.md
  docs/cow-protocol/README.mdx
  docs/cow-protocol/concepts/_category_.json
  docs/cow-protocol/concepts/benefits/price-improvement.md
  docs/cow-protocol/concepts/how-it-works/flow-of-an-order.md
  docs/cow-protocol/concepts/introduction/solvers.md
  docs/cow-protocol/reference/core/auctions/the_problem.md
  docs/cow-protocol/reference/core/intents/_hooks_guarantees_warning.md
  docs/cow-protocol/reference/core/intents/cow-hooks.mdx
  docs/cow-protocol/tutorials/arbitrate/orderbook.md
  docs/cow-protocol/tutorials/arbitrate/solver/driver.md
  docs/cow-protocol/tutorials/arbitrate/solver/solver-engine.md
  docusaurus.config.ts
Labels: documentation, E:2.1: Documentation and Tutorials

#264 Add information about Sepolia network
  docs/cow-protocol/reference/contracts/core/README.mdx
  docs/cow-protocol/reference/contracts/periphery/README.mdx
  docs/cow-protocol/reference/core/signing_schemes.mdx
  docs/cow-protocol/tutorials/cow-swap/custom-links.md
  docs/cow-protocol/tutorials/integrations/README.mdx
  docs/cow-protocol/tutorials/solvers/test.md
Labels: documentation

#265 fix: eth flow note
  docs/cow-protocol/reference/contracts/periphery/eth_flow.md
Labels: bug, documentation, E:2.1: Documentation and Tutorials

#247 Add main sequence diagram for arbitrating auctions
  docs/cow-protocol/tutorials/arbitrate/README.mdx
Labels: documentation, E:2.1: Documentation and Tutorials, team:backend

#25 feat: widget docs
  docs/cow-protocol/tutorials/integrations/widget.md
  docs/front-end/README.mdx
  static/img/tutorials/widget.png
Labels: documentation, E:2.1: Documentation and Tutorials, team:frontend

#269 chore: production ready
  docs/README.md
  docs/cow-protocol/concepts/introduction/solvers.md
  docs/cow-protocol/reference/contracts/core/settlement.md
  docs/cow-protocol/reference/core/auctions/schema.md
  docs/cow-protocol/tutorials/arbitrate/autopilot.md
  docs/cow-protocol/tutorials/arbitrate/solver/driver.md
  docs/cow-protocol/tutorials/integrations/hooks/README.md
  docs/cow-protocol/tutorials/integrations/hooks/permit-and-bridge.md
  docs/cow-protocol/tutorials/integrations/programmatic/README.md
  docs/cow-protocol/tutorials/integrations/programmatic/dutch.md
  docs/cow-protocol/tutorials/integrations/programmatic/liquidation.mdx
  docs/cow-protocol/tutorials/integrations/programmatic/twap.md
  docs/cow-protocol/tutorials/integrations/programmatic/yield_farming.md
  docs/cow-protocol/tutorials/solvers/create.md
  docs/cow-protocol/tutorials/solvers/deploy.md
  docs/cow-protocol/tutorials/solvers/evaluate.md
  docs/cow-protocol/tutorials/solvers/from_shadow_to_prod.md
  docs/cow-protocol/tutorials/solvers/test.md
  docs/cow-protocol/tutorials/solvers/workshop.md
  docs/governance/grants.md
  docs/mevblocker/README.mdx
Labels: documentation, E:2.1: Documentation and Tutorials

#270 chore: repository configuration
  docs/cow-protocol/concepts/how-it-works/protocol-vs-swap.md
  docs/cow-protocol/reference/core/intents/app_data.mdx
  docs/cow-protocol/tutorials/arbitrate/autopilot.md
  docusaurus.config.ts
  package.json
  yarn.lock
Labels: documentation, E:2.1: Documentation and Tutorials

#272 chore: production fixes
  docs/cow-protocol/reference/architecture.md
  docs/front-end/README.mdx
  docs/governance/README.mdx
  docs/governance/_category_.json
  docs/governance/_living.md
  docs/governance/process/README.mdx
Labels: documentation, E:2.1: Documentation and Tutorials

#273 chore: redirect handling
  vercel.json
Labels: E:2.1: Documentation and Tutorials

#280 feat: enable search
  README.md
  docusaurus.config.ts
Labels: documentation, E:2.1: Documentation and Tutorials

#287 Push shadow_to_prod solvers tutorial in prod
  docs/cow-protocol/tutorials/solvers/from_shadow_to_prod.md
Labels: team:solvers
